.bg {

  color: #fff;background-image: url("../../assets/images/familypic2.jpg"); 
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.relativex {
  position: relative;
  top:150px;
  left: 150px;
}
.matfield{
  background-color:rgb(186, 254, 171);opacity:0.75;
}

button, mat-form-field {
  width: 20em;
}